* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #8ec5fc;
  /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  background: url(bg-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#noteCard {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.searchBar {
  width: 300px;
  margin-right: 10px;
}

#addTxt{
  background-color: #f1f0f0;
}
#addTxt:focus {
  border: none;
  outline-offset: 0px;
  outline: none;
  box-shadow: none;
}

.addNoteContainer {
  border: 1px solid #00000059; 
outline: none;
}

.card,
#searchInput {
  background-color: #f1f0f0;
   box-shadow: 2px 2px 2px 2px;
}

.card {
  border: solid 1px rgb(96, 96, 174);
}
input {
  padding: 7px;
  border: solid 1px rgb(96, 96, 174);
  border-radius: 0.375rem;
}

/* input:focus {
  border: solid 2px rgb(96, 96, 174);
  outline-offset: 0px;
  outline: none;
  */
/* } */

.navbar-brand {
  font-size: 45px;
  margin-left: 700px;
  text-shadow: 2px 2px 2px;
}

h1 {
  text-shadow: 2px 2px 2px;
}

#addNote,
.btn {
  background-color: rgb(96, 96, 174);
  height: 40px;
}

.btn:hover,
#addNote:hover {
  background-color: #5072a7;
}

@media screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 50%;
  }
}
